$my-color:#fff;


.row-display{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header{
    background: #282c34;
    box-shadow: 0px 5px 10px lightblue;
    text-align: center;
    vertical-align: center;
}

.header__logo{
  padding: 10px 20px ;
  color:$my-color;
  display: inline-block;
  margin-right: 15px;
}

.header__right{
  text-align: right;
}

.header__right_auth{
  display: inline-block;
  margin-left: 15px;
}

.auth{
  display:inline-block;
  margin-right: 25px;
  margin-left: 25px;
  text-align: center;
  a{
    color:$my-color;
    &:hover{
      text-decoration: none;
      color:$my-color;
    }
  }
}


.auth::after{
  position: absolute;
  content: "/";
}

.a:last-child::after{
  display: none;
}


.widget{
  list-style: none;
  display: inline-block;
  color:$my-color;
  margin-right: 20px;
}