
body{
    background-color: pink;
}

.first{
    flex-shrink: 0;
}

.second{
    flex-shrink: 0;
}

.parent{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
}

.parent div{
    background-color: red;
    width: 20px;
    height: 50px;
    margin:10px;
    flex-basis: 200px;
    border: 2px solid black;
}