*{
    margin:0;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

nav ul{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
  
}

nav,footer{
    flex-shrink: 0;
}

section{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

section span{
    background-color: rgb(1, 0, 87);
    position: absolute;
    width:180px;
    height: 108px;
}
nav ul li{
    list-style: none;
    padding: 10px;
    margin: 2px;
}

#logo{
    width:80vw;
    height: 200px;
    background:red;
}

.layer{
    padding:10px 20px;
    border-bottom: 2px solid gray;
    background: rgb(219,219,219);
    width:100%;
}